---
title: Contact
description: ☎️, ✉️
---
<h1 class="title"><%= current_page.data.title %></h1>
<h2 class="subtitle is-6"><%= current_page.data.description %></h2>

<div>
  <p>Tel: <%= data.nav.contacts.tel %></p>
  <p>Email: <%= data.nav.contacts.email %></p>
  <p>Address: <%= data.nav.contacts.address %></p>
</div>