---
title: "Courses and Schedule"
---
<h1 class="title"><%= current_page.data.title %></h1>
<% data.weekday_class.courses.each do |course| %>
  <% course.each do |title, info| %>
    <section class="section">
      <h3 class="title coursename"><%= title.tr_s("_", " ").upcase %></h3>
        <% info.each do |key, value| %>
          <div class="content">
            <span class="tag is-danger is-medium"><%= key.tr_s("_", " ").upcase %></span>
            <ul>
              <% value.each do |line| %>
                <li><%= line %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </section>
  <% end %>
<% end %>
<% data.afterschool_class.courses.each do |course| %>
  <% course.each do |title, info| %>
    <section class="section">
      <h3 class="title coursename"><%= title.tr_s("_", " ").upcase %></h3>
        <% info.each do |key, value| %>
          <div class="content">
            <span class="tag is-warning is-medium"><%= key.tr_s("_", " ").upcase %></span>
            <ul>
              <% value.each do |line| %>
                <li><%= line %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </section>
  <% end %>
<% end %>
<% data.saturday_class.courses.each do |course| %>
  <% course.each do |title, info| %>
    <section class="section">
      <h3 class="title coursename"><%= title.tr_s("_", " ").upcase %></h3>
        <% info.each do |key, value| %>
          <div class="content">
            <span class="tag is-success is-medium"><%= key.tr_s("_", " ").upcase %></span>
            <ul>
              <% value.each do |line| %>
                <li><%= line %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </section>
  <% end %>
<% end %>
