---
title: "Courses and Schedule"
description: The description of courses
---
<h1 class="title"><%= current_page.data.title %></h1>
<h2 class="subtitle is-4"><%= current_page.data.description %></h2>
<% data.weekday_class.courses.each do |course| %>
  <% course.each do |title, info| %>
    <section class="section">
      <h3 class="title" id="coursename"><%= title.tr_s("_", " ").capitalize %></h3>
        <% info.each do |key, value| %>
          <div class="content">
            <span class="tag is-danger is-medium"><%= key.tr_s("_", " ").capitalize %></span>
            <ul>
              <% value.each do |line| %>
                <li><%= line %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </section>
  <% end %>
<% end %>
