---
title: Tuition Fees
---
<h1 class="title"><%= current_page.data.title %></h1>
  <table class="table">
    <thead>
      <tr>
        <th>Class</th>
        <th>1 day</th>
        <th>2 days</th>
        <th>3 days</th>
        <th>4 days</th>
        <th>5 days</th>
        <th>Notes</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= link_to "Baby Class", "courses_and_schedule.html#baby_class" %></th>
        <td>-</td>
        <td>28,000 yen</td>
        <td>30,000 yen</td>
        <td>38,000 yen</td>
        <td>45,000 yen</td>
        <td>Extention morning - 1 hour 1,500yen</td>
      </tr>
      <tr>
        <th><%= link_to "Pre School", "courses_and_schedule.html#pre_school" %></th>
        <td>-</td>
        <td>-</td>
        <td>50,000 yen</td>
        <td>55,000 yen</td>
        <td>60,000 yen</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Kinder Class", "courses_and_schedule.html#kinder_class" %></th>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>65,000 yen</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Baby and Me", "courses_and_schedule.html#baby_and_me" %></th>
        <td>12,000 yen</td>
        <td>16,000 yen</td>
        <td>20,000yen</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Adult Class", "courses_and_schedule.html#adult_class"%></th>
        <td>12,000 yen</td>
        <td>18,000 yen</td>
        <td>25,000 yen</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Afternoon English Circle Academy", "courses_and_schedule.html#afterschool" %></th>
        <td>15,000 yen</td>
        <td>20,000 yen</td>
        <td>25,000 yen</td>
        <td>30,000 yen</td>
        <td>30,000 yen</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Saturday Morning Class", "courses_and_schedule.html#morning_class_for_kids" %></th>
        <td>15,000 yen</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Saturday Afternoon Class", "courses_and_schedule.html#afternoon_class_for_kids" %></th>
        <td>20,000 yen</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th><%= link_to "Saturday Wholeday class", "courses_and_schedule.html#saturday_whole_day_English_class" %></th>
        <td>23,000 yen</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
